@font-face {
  font-family: gess;
  src: url(GESSTwoMedium-Medium.woff2);
}
@font-face {
  font-family: gesslight;
  src: url(GESSTwoLight-Light.woff2);
}
body {
  direction: rtl;
  font-family: gess, gesslight, Montserrat;
  position: relative;
}
@keyframes move-down {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(4px);
    opacity: 1;
  }
}
@keyframes move-up {
  from {
    transform: translateY(3px);
    opacity: 0;
  }
  to {
    transform: translateY(-1px);
    opacity: 1;
  }
}
@keyframes spin-move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
@keyframes move-around {
  0% {
    transform: rotate(-3deg);
  }
  25% {
    transform: rotate(-4.5deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*===================================================*/
/*Start Block1*/
.div1 {
  /* padding: 135px 0 90px; */
  background: url(../images/main-header.jfif) no-repeat;
  background-position: 100% 87%;
  background-size: cover;
  padding: 0 !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.company-info {
  color: #fff;
  margin-top: 70px;
  font-size: 30px;
  text-align: right;
}
.company-info li {
  position: relative;
  margin-top: 30px;
  padding-right: 27px;
}
.company-info li:before {
  content: "";
  width: 10px;
  height: 84%;
  background: #607eaa;
  position: absolute;
  right: 0;
  top: 4px;
}
.block2-head {
  font-weight: bold;
  font-size: 51px;
  line-height: 1;
  padding: 50px;
  color: #303030;
}

.company-features {
  color: #fff;
  cursor: pointer;
}
.box-img {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin: 20px auto;
}
.box-img img {
  transition: all 0.3s ease-in-out;
}
.box-img span {
  font-size: 22px;
  width: 50%;
  line-height: 2;
  font-family: gesslight;
}
.box-img:hover > img {
  transform: rotatez(20deg);
}

.company-features .row > div:nth-child(1) {
  display: flex;
  background: #e81772;
  flex-direction: column;
}
.company-features .row > div:nth-child(2) {
  background: #c71063;
}
.company-features .row > div:nth-child(3) {
  background: #ac0354;
}
.company-features .row > div:nth-child(4) {
  background: #e81772;
}

.header-c {
  color: #fff;
}
.header-c {
  font-size: 31px;
  margin: 0 auto 20px;
}

.info-logo {
  padding-top: 10px;
  margin-bottom: 20px;
}
.info-txt {
  font-size: 28px;
  width: 80%;
  margin: auto;
}
.info-logo1 {
  width: 80%;
  margin: 35px auto;
}
/*===================================================*/
.contactUs {
  padding: 0 0 30px;
  background: #0c0a15;
  padding-top: 40px;
}
.logo {
  max-width: 140px;
  margin: 30px auto;
}

.contact-header {
  font-size: 22px;
}

.form {
  padding: 15px 50px;
  background: #394e6c;
}

.f-intro {
  font-size: 25px;
  color: #fff;
  line-height: 1.5;
}
.f-intro i {
  font-style: normal;
}
.custom-field {
  border-radius: 5px;
  width: 100%;
  margin: auto;
  font-size: 18px;
  color: #6c6c6c;
  resize: none;
  height: auto !important;
  font-family: Montserrat;
  border: 0;
}
textarea.custom-field {
  min-height: 100px;
}

.custom-field::-webkit-input-placeholder {
  color: #6c6c6c;
  font-family: gesslight;
}

.custom-field:-ms-input-placeholder {
  color: #6c6c6c;
  font-family: gesslight;
}

.custom-field::placeholder {
  color: #6c6c6c;
  font-family: gesslight;
}

#form-phone {
  font-family: Arial;
}
label.error {
  color: #fff;
}

#form-phone::-webkit-input-placeholder {
  font-family: gesslight;
}

#form-phone:-ms-input-placeholder {
  font-family: gesslight;
}

#form-phone::placeholder {
  font-family: gesslight;
}

.send-data {
  width: calc(100% - 30px);
  margin: auto;
  color: #fff;
  background: #2fb973;
  font-size: 30px;
  line-height: 1.5;
}

.send-data:hover {
  color: #0c0a15;
}

.form .f-element {
  margin-bottom: 12px;
  text-align: right;
}
.form .f-element label{
  font-size: 16px;
  color: #fff;
  text-align: right;
  padding-right: 5px;
}
.prom {
  color: #d9d2db;
  padding-top: 20px;
}

footer {
  background: #394e6c;
  color: #fff;
  padding: 30px 0 10px;
  padding-bottom: 20px !important;
}
.footer-p {
  font-family: gesslight;
  text-align: justify;
  margin: 15px auto;
  line-height: 1.9;
  font-size: 16px;
}
.footer-p span {
  text-transform: uppercase;
  font-family: Montserrat;
}
.footer-head {
  color: #d2235c;
  font-size: 19px;
  margin-bottom: 10px;
}
.footer-links {
  margin-bottom: 10px;
  font-family: gesslight;
  cursor: pointer;
}
.footer-links:hover {
  color: #d0215c;
}
.f-section {
  font-family: Montserrat;
  font-weight: 500;
}
.footer-logo {
  text-align: center;
  margin: 20px auto;
  width: 20%;
}
/* ========================== */
.company-info li:nth-child(1)::before {
  background: #e9bff6;
}
.company-info li:nth-child(1) {
  font-weight: 600;
  color: #d9d2db;
  position: relative;
  font-size: 30px;
  display: none;
}
.company-info li span {
  color: #d9d2db;
  font-weight: 700;
}
#scene {
  top: -10px;
  scale: 0.9;
  user-select: none;
  cursor: pointer;
}

/* ============================ */

.features {
  padding: 30px 0px;
  padding-top: 40;
  padding-bottom: 0 !important;
  direction: rtl;
  text-align: center;
  background-size: cover;
  color: white;
  background-color: #607eaa;
}

.features .title {
}
.accomp {
}
.features ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: right;
}
.features li {
  font-size: 18px;
  margin-bottom: 5px;
}
.features-header {
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 10px;
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: white;
  user-select: none;
  background-color: #1f2030c9;
  cursor: pointer;
  padding: 0 15px;
  border-radius: 3px;
}
.features-header::before {
  content: "\f1ad";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #0f1018;
  display: inline-block;
  font-size: 24px;
  position: relative;
  bottom: 2px;
  z-index: 999;
  right: -12px;
}
.features-header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 17%;
  background-color: #e9e9e9;
  right: -5px;
  border-radius: 0 3px 3px 0;
}
.features-content {
  margin-top: 10px;
  /* padding: 0px 2vw; */
}
.features-content h3 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  padding: 7px 50px;
  border-radius: 3px;
  color: #171717;
}
.features-content h3::before {
  content: "\f1b3";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #28074e;
  display: inline-block;
  font-size: 24px;
  position: absolute;
  bottom: 14px;
  right: 15px;
}
.features-content h3::after {
  content: "\f1b3";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #28074e;
  display: inline-block;
  font-size: 24px;
  position: absolute;
  bottom: 14px;
  left: 15px;
}
.features-content h3 span,
.more-fueatures h3 span {
  color: #05326a;
}
.features-content ul {
  margin-top: 20px;
  padding: 0 5vw;
  text-align: justify;
  color: whitesmoke;
}
.features-content li {
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
  padding-right: 15px;
}
.features-content li span {
  padding-left: 0;
  color: #df165f;
  position: absolute;
  right: -10px;
  font-size: 14px;
  top: 5px;
}
.more-fueatures {
  /* background: linear-gradient(80deg, #c71063, #e81772); */
}
.more-fueatures h3 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  padding: 7px 50px;
  border-radius: 10px;
  cursor: pointer;
  color: #171717;
  margin-bottom: 40px;
}
.more-fueatures h3::before {
  content: "\f0ab";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #e81772;
  display: inline-block;
  font-size: 24px;
  position: absolute;
  bottom: 14px;
  right: 15px;
  animation: move-down 1s infinite;
  transition: all 0.3s ease-in-out;
}
.more-fueatures h3::after {
  content: "\f0ab";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #e81772;
  display: inline-block;
  font-size: 24px;
  position: absolute;
  bottom: 14px;
  left: 15px;
  animation: move-down 1s infinite;
  transition: all 0.3s ease-in-out;
}
.features-content ul {
}
.design {
}

.design img {
  max-width: 60%;
}
.features-content .row {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
  padding: 0px 2vw;
}
.features:hover .design img {
  /* transform: rotate(-13deg);
  -webkit-transition: all 1.5s ease-in-out; */
}
.company-info {
  margin-top: 30px !important;
}
.goals {
  text-align: center;
  padding: 30px 5vw;
  padding-top: 50px;
  background-color: #100720;
}
.goals-header {
  user-select: none;
  font-size: 35px;
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  color: whitesmoke;
  margin-bottom: 25px;
  background-color: #3cff93b8;
  padding: 7px 20px;
  padding-bottom: 2px;
  border-radius: 3px;
}
.goals-header::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #323232;
  display: inline-block;
  font-size: 24px;
  position: relative;
  bottom: 2px;
  right: -3px;
}
.goals-content {
  text-align: justify;
}
.goals-content h3 {
  font-size: 4.2vw;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.5;
  color: #d5d5d5;
}
.goals-content h3::before {
  content: "\f0aa";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #2fb973;
  display: inline-block;
  position: relative;
  right: 0px;
  font-size: 3.5vw;
  top: 0;
  animation: move-up 1s infinite;
  transition: all 0.3s ease-in-out;
}
.goals-descreption {
  line-height: 1.7;
  color: #d5d5d5;
}
.info-txt {
  color: white;
}
.aboutUs {
  background-color: #100720;
}
.goals-descreption span {
  color: red;
}
.f-intro span {
  color: #d8d1f3;
  font-weight: 600;
}
@media (min-width: 550px) {
  .goals {
    padding: 30px 7.5vw;
  }
  .goals-content h3::before {
    font-size: 17px;
    padding-left: 3px;
  }
  .goals-content h3 {
    font-size: 20px;
  }
}
@media (min-width: 900px) {
  .header-c {
    padding-bottom: 10px;
  }
  .features-header {
    font-size: 44px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .features-content h3 {
    background-color: #e9e9e9;
  }
  .features {
    background: linear-gradient(45deg, #607eaa, #60789b);
  }
  .more-fueatures h3 {
    background-color: whitesmoke;
  }
  .features-header::before {
    font-size: 28px;
    right: -8px;
  }
  .features-content .row {
    margin-top: 30px;
  }
  .goals-header {
    font-size: 40px;
    margin-bottom: 25px;
    padding: 8px 20px;
    padding-bottom: 5px;
  }
  .goals {
    padding: 30px 7vw;
    padding-top: 50px;
  }
  .goals-content h3::before {
    font-size: 17px;
  }
  .goals-content h3 {
    font-size: 20px;
  }
  .goals-descreption {
    line-height: 1.9;
    font-size: 18px;
  }
}
@media (min-width: 1000px) {
  .goals-header {
    font-size: 40px;
    margin-bottom: 25px;
    padding: 8px 20px;
    padding-bottom: 5px;
  }
  .goals-content h3::before {
    font-size: 20px;
  }
  .goals-content h3 {
    font-size: 22px;
  }
  .goals-descreption {
    line-height: 2;
    font-size: 20px;
  }
}
/* ============================ */
@media (max-width: 710px) {
  .features-content .row {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .features-content ul {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .design {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .design img {
    max-width: 40%;
  }
}
/* ============================ */
@media (min-width: 900px) {
  .features-content .row {
    padding: 0px 1.6vw;
  }
  .features-content {
    margin-top: 10px;
    /* padding: 0px 1.5vw; */
  }
  .features-content li {
    font-size: 24px;
    margin-bottom: 15px;
    font-size: 22px;
  }
  .features-content li span {
    padding-left: 10px;
    font-size: 16px;
  }
}

/* ============================= */
@media (max-width: 700px) {
  .features-content li {
    line-height: 1.7;
  }
  .features-content h3 {
    padding: 7px 25px;
    font-size: 18px;
  }
  .features-content h3::before {
    font-size: 16px;
    bottom: 10px;
    right: 3px;
  }
  .features-content h3::after {
    font-size: 16px;
    bottom: 10px;
    left: 3px;
  }
  .more-fueatures h3 {
    font-size: 18px;
  }
  .more-fueatures h3::before {
    font-size: 18px;
    bottom: 10px;
    right: 020px;
  }
  .more-fueatures h3::after {
    font-size: 18px;
    bottom: 10px;
    left: 20px;
  }
}
@media (max-width: 710px) {
  .features-content ul li:nth-child(1) {
    margin-bottom: 20px;
  }
}
/* ========================== */
@media (max-width: 550px) {
  .features-content ul li:nth-child(1) {
    margin-bottom: 15px;
  }
  .design img {
    max-width: 60%;
  }
}
/* ============================== */
@media (max-width: 470px) {
  .features-content h3 {
    padding: 7px 25px;
    font-size: 3.8vw;
  }
  .more-fueatures h3 {
    font-size: 3.8vw;
    padding: 7px 10.5vw;
  }
  .more-fueatures h3::before {
    font-size: 3.8vw;
    bottom: 10px;
    right: 020px;
  }
  .more-fueatures h3::after {
    font-size: 3.8vw;
    bottom: 10px;
    left: 20px;
  }
}
@media (max-width: 800px) {
  .header-container {
    background-color: white;
  }
}
@media (min-width: 711px) and (max-width: 1090px) {
  .design img {
    max-width: 80% !important;
  }
}
